html {
    height: 100%;
    background-color: rgba(89, 131, 252, 1);
    background-image: linear-gradient(180deg, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 100%);
}

body {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-city-container {
    height: 240px;
    width: 380px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}

.input-container {
    height: auto;
    width: 90%;
    padding: 9px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
    font-size: 14px;
}

.search-button {
    border-radius: 8px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    border: none;
}

.weather-container {
    height: auto;
    width: 70%;
    background-color: #112756;
    border-radius: 14px;
    display: flex;
    margin-top: 30px;
}

.main-content {
    height: auto;
    width: 70%;
}

.another-city-form {
    width: 100%;
}

.input-another-city {
    height: auto;
    width: 87%;
    margin-top: 8px;
    margin-left: 15px;
    border-radius: 8px;
    border: none;
    padding: 7px;
}

.search-another-city-button {
    height: auto;
    padding: 7px;
    margin-right: 0;
    border-radius: 8px;
    border: none;
}

.current-weather {
    height: 160px;
    width: 95%;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.temperature-div {
    width: 50%;
    height: 100%;
}

.weather-icon {
    width: 50%;
    height: 100%;
    text-align: center;
}

.img-of-weather-icon {
    height: 160px;

}

.city-name {
    margin-bottom: 0;
}

.weather-description {
    margin-top: 0;
}

.today-forecast {
    background-color: #184ec4;
    width: 89%;
    margin-left: 15px;
    padding: 10px;
    padding-right: 0;
    border-radius: 14px;
    overflow: hidden;
}

.today-forecast:hover {
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.forecast-list {
    height: auto;
    display: flex;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}


li {
    margin-right: 15px;
}


.forecast-weather-div {
    width: auto;
    background-color: bisque;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
}

.air-condition {
    background-color: #184ec4;
    width: 89%;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 10px;
    padding-right: 0;
    border-radius: 14px;
    display: flex;
    flex-wrap: wrap;
}

.air-conditions-paragraph {
    margin-top: 0;
    width: 100%;
}

.real-feel,
.wind {
    flex-basis: calc(48% - 10px);
    text-align: center;
    background-color: bisque;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.chance-of-rain,
.humidity {
    height: 80px;
    flex-basis: calc(48% - 10px);
    background-color: bisque;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
}

p {
    margin-top: 1px;
}

.five-day-forecast {
    margin-top: 15px;
    background-color: #184ec4;
    border-radius: 14px;
}

.five-day-forecast-list {
    list-style-type: none;
    margin-top: 20px;
}

.five-day-forecast-li {
    display: flex;
    margin-bottom: 20px;
    text-align: center
}

.five-day-forecast-li p {
    margin-right: 10px;
}

.five-days-forecast-icon {
    height: 100px;
    width: 100px;
}